*~
tags
doc/html
doc/messages
doc/*.log
.DS_Store
build*
.nfs*
share/
__pycache__
pymavlink/generator/C/
pymavlink/generator/C/
pymavlink/generator/python/
pymavlink/generator/python/
apidocs/
pymavlink/generator/message_definitions
*.swp
pymavlink/dialects/
pymavlink/MANIFEST
pymavlink/dist
pymavlink.egg-info/
.pydevproject
.project
.ropeproject
*.cproject
include/
.tags*
*.pyc
include/mavlink/v1.0
.idea
all/
ardupilotmega/
ASLUAV/
AVSSUAS/
common/
csAirLink/
cubepilot/
development/
droneleaf_mav_msgs/
icarous/
loweheiser/
minimal/
python_array_test/
standard/
storm32/
test/
ualberta/
uAvionix/
checksum.h
mavlink_conversions.h
mavlink_get_info.h
mavlink_helpers.h
mavlink_sha256.h
mavlink_types.h
protocol.h